

body{
    background-color:rgb(228, 230, 231) ;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

.wrapper{

    width: 95%;
    margin:auto;
    background-color: rgb(241, 241, 241);
    padding: 10px 10px;
    display: flex;
    justify-content: left;
    flex-flow: wrap row;
   

}

button{
    padding: 5px;
    background-color:blueviolet;
    color:white;
    width: 100%;
    border:white;
    visibility: hidden;
    transition: all .3s ease;
}

.card{
    width: 230px;
    height: fit-content;
    background-color: rgb(255, 249, 249);
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.473);
    color:rgb(66, 64, 64);
    transition: all .3s ease;
    min-width: 250px;
    min-height: 250px;
    margin: 25px 25px;
 
    
}
.card img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.card h2{
    width: 90%;
    font-size: 18px;
    padding-left: 5px;
  
}
.card p{
    width: 90%;
    font-size: 14px;
    padding-left: 5px;
    color: rgba(20, 20, 20, 0.726);
    letter-spacing: 1px;
    font-weight:500;
}

             /* card1 css           */

.card1:hover{
    background-color: rgb(240, 248, 206);
    transform: scale(1.03);
    border: blueviolet;
}

.card1:hover img{
    opacity: .7;
    height: 60%;
    
}
.card1:hover button{
    visibility: visible;
}


                             /* card2 */
.card2{
    position: relative;
    height: 250px;
    width: 250px;
    background-color: black;
    transition: all .7s ease-in-out;
    border: 2px solid cyan;
  
  
}
.card2 img{
 position: absolute;
 width: 100%;
 height: 100%;
 opacity: .8;

 transition: all .4s ease-in-out;
}
.card2 h2{
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 2;
    font-size: 28px;
    margin-top: 80px;
    transition: all .4s ease-in-out;
}
.card2:hover img{
    opacity: .5;
   
}
.card2 p{
    transition: all .4s ease-in-out;
}
.card2:hover h2{
    margin-top: 15px;
    font-size: 33px;


}
.card2:hover p{
    position: relative;
    z-index: 2;
    color: white;
}

                                /* card3 */
.card3:hover{
    background-color: rgb(53, 9, 94);
}
.card3:hover img{
    opacity: .2;
}


/* card4 */
.card4{
    border: 2px solid rgb(255, 52, 79);
}
.card4:hover img{
    opacity: .1;
}
.card4:hover h2{
    margin-top: 30px;
}
.card4 .temp{
   opacity: 0 !important;
}
.card4:hover .temp{
    opacity: 1!important;
  
}


          /* card5 */
.card5 button{
    position: relative !important;
    /* z-index: 2;
    width: 100%; */
    /* visibility: visible !important; */
    

}

.card5 p{
    position: absolute;
    visibility: hidden;

}
.card5:hover p{
    position: relative;
    visibility: visible;
}
.card5:hover button{

visibility: visible;
}

/* card6 */

.card6{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.card6:hover img{
    transform: scale(1.3);
}